.profilePage {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    font-family: Inter;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vh
}

.profileContainer{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vh
}

.updateInputContainer{
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1vh;
}

.updateFormItem {
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    background-color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    width: 60vw;
    height: 50vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    border-radius: 0px 15px 0px 15px;
    background-color: #5fa9bd;
    border: 5px solid #f1a208;
}

.profileUpdate {
    position: relative;
    width: 100%;
    height: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Inter;
}

.updateButton {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    background-color: #f1a208;
}
